<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <form class="product-form" action="/admin/<% if (editing) { %>edit-user<% } 
                                        else { %>add-user<% } %>" method="POST">
            <div class="form-control">
                <label for="name">Name</label>
                <input type="name" name="name" id="name" value="<% if (editing) { %><%= user.name %><% } %>">
            </div>
            
            <div class="form-control">
                <label for="email">Email</label>
                <input type="email" name="email" id="email"  value="<% if (editing) { %><%= user.email %><% } %>">
            </div>
            
            <% if (editing) { %>
                <input type="hidden" value="<%= user._id %>" name="userId">
            <% } %>

            <button class="btn" type="submit"><% if (editing) { %>Update User<% } else { %>Add User<% } %></button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>