<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/user.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <h3 class='center'>List of Users</h3>
                <table class='center'>
                <% if (users.length > 0) { %>

                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th colspan='2'>Operation</th>

                        </tr>
                  
                        <% for (let u of users) { %>

                        <tr>
                            <td><%= u.name %></td>
                            <td><%= u.email %></td>
                                   
                            <th>
                                <a href="/admin/users/<%= u._id %>?edit=true">
                                    <i class="fa fa-check" style="font-size:20px;color:green"></i>
                                </a>
                            </th>
                            <th>
                                <form action="/admin/delete-user" method="POST">
                                    <input type="hidden" value="<%= u._id %>" name="userId">
                                    <button class='fa-button'>
                                        <i class="fa fa-remove" style="font-size:20px;color:maroon"></i>
                                    </button>
                                </form>
                            </th>
                        </tr>
                        <% } %>
    
                    <% } else { %>
                        <h1>No Users Found!</h1>
                    <% } %>
                </table>

                <p>&nbsp;</p>

                <div class='center'>
                    <button class='button'>
                        <a class="<%= path === '/admin/add-user' ? 'active' : '' %>" href="/admin/add-user">Add User
                        </a>
                    </button>
                </div>

            </main>
            <%- include('../includes/end.ejs') %>