.center {
    margin-left: 20%;
    width: 60%;
    align-items: center;
    justify-content: center;
}

.button {
    background-image: linear-gradient(to right, red,green,blue,indigo,violet);
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button a {
    text-decoration: none;
    color:white;
    font-weight: bolder;
    font-size: 18px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.fa-button {
    border: 0;
    background-color: white;
    cursor: pointer;
}








